body {
  background: #444444;
  color: #E6E6E6;
  font-size: 22px;
}

.wrap {
	max-width:960px;
	margin:auto;
	text-align:justify;
	width:100%;
}
.box {
	display:inline-block;
	padding:5px;
	vertical-align:top;
}
.wrap:after{
	content:"";
	display:inline-block;
	height:1px;
	width:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	margin:0 100% 0 0;
}

#status {
  color: grey;
}
div.offline {
  color: red !important;
}
div.online {
  color: green !important;
}

table.dataTable {
  border: 1px solid #AAAAAA;
  background-color: #EEEEEE;
  width: 100%;
  height: 200%;
  text-align: left;
}
table.dataTable td, table.dataTable th {
  border: 1px solid #444444;
  padding: 3px 2px;
}
table.dataTable tbody td {
  font-size: 13px;
}
table.dataTable tr:nth-child(even) {
  background: #FFFFFF;
}
table.dataTable thead {
  background: #AAAAAA;
  background: -moz-linear-gradient(top, #AAAAAA 0%, #AAAAAA 66%, #AAAAAA 100%);
  background: -webkit-linear-gradient(top, #AAAAAA 0%, #AAAAAA 66%, #AAAAAA 100%);
  background: linear-gradient(to bottom, #AAAAAA 0%, #AAAAAA 66%, #AAAAAA 100%);
  border-bottom: 2px solid #444444;
}
table.dataTable thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  border-left: 2px solid #C0D2F5;
}
table.dataTable thead th:first-child {
  border-left: none;
}

input.dataTable {
  width: 97%;
}
input.dataTable.heading {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
input.dataTable.row {
  font-size: 13px;
  text-align: left;
  font-weight: normal;
}

button.dataTable.btnUp {
  background: #00AB66;
  color: #E6E6E6;
}
button.dataTable.btnDown {
  background: #AB6F00;
  color: #E6E6E6;
}
button.dataTable.btnDelete {
  background: #AB1A00;
  color: #E6E6E6;
}